{% extends 'base.html.twig' %}

{% block title %}Currency Converter ✅{% endblock %}

{% block body %}
    <div class="container">
        {{ component('CurrencyConverter', {
            'amount': 1,
            'supportedCurrencies': currencyCodes,
            'fromCurrencyCode': currencyCodes|first,
        }) }}
    </div>
{% endblock %}
